
/*! éléments principaux ---------------------------------------------------------------------------------- */

@media (min-width: 850px)
{
    #bloc_page
    {
        border: solid 1px #bbb9b9;
        box-shadow: 15px 20px 10px #3d3d3d;
        width: fit-content;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }
}
body
{
    background-image: url(images/produit-bois.jpg);
    font-family: Helvetica, Arial, sans-serif;
    color: #616161;
}
.row
{
    background-color: white;
}
.contenu_section
{
    padding-top: 50px;
}
h3
{
    text-transform: uppercase;
    font-size: 1.5em;
    border-bottom: 2px solid #F7CA00;
    padding-bottom: 20px;
}
h2
{
    font-size: 1.5em;
    color: #616161;
    height: 40px;
}


/*! bloc identite ---------------------------------------------------------------------------------- */


#identite    
{
    display: flex;
    align-items: center;
}
    @media (max-width: 767.68px)
    {
        #identite
        {
            align-items: left;
            margin-top: 30px;
        }
        
    }
#prenom
{
	color: #F7CA00;
	text-transform: uppercase;
	font-size: 3em;
}
#nom
{
text-transform: uppercase;
font-size: 3em;
color: black;			
}
#title_line
{
    border-bottom:2px solid #F7CA00;
}    
    @media (max-width: 767.98px) 
    {
        #title_line
        {
            border-bottom-style: hidden;
        }
    }  
#title_lineB
{
    border-bottom: 2px solid #F7CA00;
}
    @media (min-width: 767.98px) 
    {
        #title_lineB
        {
            border-bottom-style: hidden;
        }
    }    
#identite ul
{
    list-style-type: none;
}

/*! bloc photo ---------------------------------------------------------------------------------- */


#photo
{
    background-color: #F7CA00;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 270px;
}
#photo img
{
    width: 210px;
    border-radius: 50%;
    box-shadow: inset 0px 0px 15px 0px #616161;
}


/*! bloc formation ---------------------------------------------------------------------------------- */


@media (max-width: 767.98px) 
{
    #formation
    {
        margin-top: 4em;
    }
}
.fa-graduation-cap
{
    font-size: 40px; 
    color: #F7CA00; 
    float: left;
    padding-right: 30px;
    padding-left: 30px;
}
    @media (max-width: 767.68px)
    {
        .fa-graduation-cap
        {
            padding-left: 10px;
        }
    }

.sec-gauche p, .sec-droite p
{
    padding-left: 50px;
}
#formation img
{
    width: 25px;
    padding-top: 10px;
    padding-right: 10px;
    float: left;
}
    @media (max-width: 767.68px)
    {
        #formation img
        {
            padding-top: 5px;
        }
    }
#formation p, b
{
    color: #616161
}

/* ! bloc contact---------------------------------------------------------------------------------- */


.icone_contact
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact h3
{
    color: #f7ca00;
    background-color: #424242;
    height: 40px;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}
.fa-twitter-square          
{
    font-size: 50px;
    color: #424242;
    padding-top: 37px;
    padding-bottom: 37px;
}

.fa-linkedin
{
    font-size: 50px;
    color: #424242;
    padding-left: 37px;
    padding-top: 37px;
    padding-bottom: 37px;
}

#contact p
{
    padding-left: 35px;
    padding-top: 30px;
}


/*! bloc experiences ---------------------------------------------------------------------------------- */

#experiences
{
    padding-top: 30px;
}
.card ul
{
    list-style-type: none;
}
#experiences img
{
    width: 25px;
    padding-top: 10px;
    padding-right: 10px;
    float: left;
}
    @media (max-width: 767.68px)
    {
        #experiences img
        {
            padding-left: 0px;
            padding-right: 10px;
            padding-top: 5px;
        }
    }
#experiences p, b
{
    color: #616161
}
.fa-briefcase
{
    font-size: 40px; 
    color: #F7CA00; 
    float: left;
    padding-right: 30px;
    padding-left: 30px;
}
    @media (max-width: 767.68px)
    {
        .fa-briefcase
        {
            padding-left: 10px;
        }
    }
#accordion .panel 
{
    border-radius: 0;
    border: 0;
    margin-top: 0px;
}
#accordion a 
{
    display: block;
    padding: 10px 15px;
    text-decoration: none;
}
#accordion h4
{
    font-size: 1em;
}
#accordion .panel-heading a.collapsed:hover,
#accordion .panel-heading a.collapsed:focus 
{
    background-color: #F7CA00;
    color: #424242;
    transition: all 0.2s ease-in;
}
#accordion .panel-heading a.collapsed:hover::before,
#accordion .panel-heading a.collapsed:focus::before 
{
    color: #424242;
    background-color: #F7CA00;
}
#accordion .panel-heading 
{
    padding: 0;
    border-radius: 0px;
    text-align: center;
}
#accordion .panel-heading a:not(.collapsed) 
{
    color: #424242;
    background-color: white;
    transition: all 0.2s ease-in;
}
#accordion .panel-heading .accordion-toggle::before 
{
    font-family: 'FontAwesome';
    content: '\f00d';
    float: left;
    margin-right: 20px;
    color: #424242;
    font-weight: lighter;
    transform: rotate(0deg);
    transition: all 0.2s ease-in;
}
#accordion .panel-heading .accordion-toggle.collapsed::before 
{
    color: #424242;
    transform: rotate(-135deg);
    transition: all 0.2s ease-in;
}
#accordion .panel-title a
{
    color: #424242;
    text-align: left;
}
#accordion
{
    margin-top: 50px;
    margin-bottom: 50px;
}

/*! bloc apropos ---------------------------------------------------------------------------------- */


#apropos h3
{
    color: #f7ca00;
    background-color: #424242;
    height: 40px;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}
#apropos
{
    height: 500px;
    
}
#apropos p
{
    padding-left: 35px;
    padding-top: 30px;
}

/*! bloc competences ---------------------------------------------------------------------------------- */


#competences
{
    margin-bottom: 60px;
}
#competences img
{
    width: 15px;
    padding-top: 10px;
    margin-left: 30px;
    padding-bottom: 5px;
    margin-right: 30px;
    float: left;
}
    @media (max-width: 767.68px)
    {
        #competences img
        {
            margin-left: 0px;
        }
    }
#competences p
{
    color: #616161
}
.fa-pencil-alt
{
    font-size: 40px; 
    color: #F7CA00; 
    float: left;
    padding-right: 30px;
    padding-left: 30px;
}
    @media (max-width: 767.68px)
    {
        .fa-pencil-alt
        {
            padding-left: 10px;
        }
    }

/*! bloc loisirs ---------------------------------------------------------------------------------- */


#loisirs h3
{
    color: #f7ca00;
    background-color: #424242;
    height: 40px;
    text-align: center;
    margin-left: -15px;
    margin-right: -15px;
}
.fa-plane-departure
{
    font-size: 50px;
    color: #424242;
    padding-top: 60px;
    padding-left: 70px;
}

.fa-laptop-house
{
    font-size: 50px;
    color: #424242;
    padding-top: 60px;
    padding-left: 70px;
}

.fa-xbox
{
    font-size: 50px;
    color: #424242;
    padding-top: 60px;
    padding-left: 80px;
}

.fa-seedling
{
    font-size: 50px;
    color: #424242;
    padding-top: 60px;
    padding-left: 80px;
    padding-bottom: 100px;
}