
/* éléments principaux */


body
{
    font-family: Arial, Helvetica, sans-serif;
    color: #424242;
}
#bloc_page
{
    width: 1100px;
    height: auto;
    margin: auto;
}
.colonne
{
    background-color:#F7CA00;
    width:321px;
    height: auto;
    float: left;
}
.colonne h3
{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f7ca00;
    background-color: #424242;
    height: 40px;
}
.content
{
    margin-left:100px;
    width: 779px;
    float: right;
}
.content h3
{
    border-bottom:1px solid #F7CA00;
    height: 40px;
}
.row
{
    display: flex;
    flex-direction: row;
}
ul
{
    list-style-type: none;
}
h3
{
    text-transform: uppercase;
    font-size: 1.5em;
}
h2
{
    font-size: 1.5em;
}
i.fas
{
    font-size: 30px; 
    color: #F7CA00; 
    float: left;
    margin-right: 30px;
    margin-top: 20px;
}


/* bloc identite */

#identite    
{
	display: flex;
	align-items: center;
	height: 200px;
}
#prenom
{
	color: #F7CA00;
	text-transform: uppercase;
	font-size: 3em;
}
#nom
{
text-transform: uppercase;
font-size: 3em;
color: black;			
}

/* bloc photo */

#photo
{
    display: flex;
	justify-content: center;
	align-items: center;
    height: 200px;
}
#photo img
{
    width: 160px;
}

/* bloc formation */
/* bloc contact */
/* bloc experiences */
/* bloc apropos */
/* bloc competences */
/* bloc loisirs */